.cart-container {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .cart-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .cart-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cart {
  position: sticky;
  top: 0;
  font-weight: bold;
  padding: 30px;
}
