.nav-font {
  color: black;
  font-weight: bold;
}
.nav-font:hover {
  color: lightseagreen;
}
.nav-toggle {
  background-color: lightseagreen;
}
.link {
  text-decoration: none;
  margin-left: 8px;
}
.btn-logOut {
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid lightseagreen;
  background-color: rgb(206, 241, 240);
  color: lightseagreen;
}
.btn-logOut:hover {
  background-color: lightseagreen;
  color: white;
}
.nav {
  position: sticky;
  top: 0;
}
