.nav-font {
  color: black;
  font-weight: bold;
}
.nav-font:hover {
  color: lightseagreen;
}
.nav-toggle {
  background-color: lightseagreen;
}
.link {
  text-decoration: none;
  margin-left: 8px;
}
