.cart-review-item {
  display: flex;
  border: 1px solid #95a0a7;
  width: 80%;
  border-radius: 8px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 50px;
}
.cart-review-item-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.detail-item p {
  margin: 3px;
}
.delete-container {
  display: flex;
  align-items: center;
}
.delete {
  color: rgba(235, 87, 87, 1);
  /* width: 50px; */
}
.delete-button {
  background-color: rgb(235, 87, 87, 0.3);
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
