.btn-top {
  color: white;
  padding: 10px;
  font-size: bold;
  background-color: rgb(50, 155, 150);
  border: none;
  border-radius: 5px;
}
.btn-top:hover {
  background-color: rgb(17, 17, 26);
}
.body {
  margin-top: 62px;
  background-color: rgb(190, 223, 233);
}
