.footer-color {
  background-color: #f6f7f9;
  padding-top: 50px;
  border-top: 1px solid lightseagreen;
  padding-bottom: 60px;
}
.button-icon {
  background-color: white;
  border: 1px solid lightseagreen;
  color: lightseagreen;
  width: 50px;
  border-radius: 10px;
  padding: 5px;
}

.button-icon:hover {
  background-color: lightseagreen;
  color: white;
}
.footer-link {
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.61);
}
.footer-link:hover {
  color: lightseagreen;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

@media only screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
