.button-icon {
  background-color: white;
  border: 1px solid lightseagreen;
  color: lightseagreen;
  width: 4%;
  border-radius: 50px;
  padding: 5px;
}

.button-icon:hover {
  background-color: lightseagreen;
  color: white;
}
