.button-icon {
  background-color: white;
  border: 1px solid lightseagreen;
  color: lightseagreen;
  width: 50px;
  border-radius: 10px;
  padding: 5px;
}

.button-icon:hover {
  background-color: lightseagreen;
  color: white;
}
.footer-link {
  text-decoration: none;
}
