.form {
  padding-top: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  /* border: 2px solid lightseagreen; */
  border-radius: 10px;
  box-shadow: 0 0 6px gray;
  height: 600px;
  width: 500px;
}
.login {
  width: 100%;
}
